@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    .promo__wrap {
        flex-direction: column;
        align-items: center;
    }
    .promo__title {
        font-size: 125px;
    }
    .promo__wrap__content {
        text-align: center;
    }
    .promo__wrap__content__title {
        text-align: center;
    }
    .promo__wrap__content__subtitle {
        text-align: center;
    }
    .promo__wrap__content__list__item {
        justify-content: center;
    }
    .promo__wrap__content__list__item__text {
        font-size: 18px;
        width: 345px;
        text-align: start;
    }
    .promo__wrap__content__rectangle {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .human {
        width: 400px;
        margin-top: 30px;
    }
    .promo__wrap__img__insta {
        top: 431px;
    }


    .biography__title {
        font-size: 63px;
    }


    .advantages__title {
        font-size: 100px;
    }
    .advantages__wrap__content {
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
        margin: 0 auto;
        margin-top: 65px;
    }


    .price__title {
        font-size: 135px;
    }
    .price__wrap {
        flex-direction: column;
        align-items: center;
    }
    .price__wrap__tariff {
        width: 230px;
        margin-bottom: 30px;
    }
    .price__wrap__tariff__emoji__bg  {
        left: 23px;
    }
    .price__wrap__tariff__inner a {
        right: 20px;
    }
    .bg-recriut {
        left: 41px;
    }


    .material__title  {
        font-size: 90px;
    }
    .material__wrap__img {
        margin-top: 45px;
    }
    .material__wrap__img__book {
        width: 180px;
        height: 283.5px;
        margin-left: 0;
    }
    .material__wrap__img__text {
        font-size: 18px;
    }
    .material__wrap__content {
        margin-left: 0;
    }
    .material__wrap__content__title {
        font-size: 18px;
    }
    .material__wrap__content__list__item {
        font-size: 16px;
    }
    .material__wrap__content__list {
        width: 282px;
    }


    .review__title {
        font-size: 70px;
    }
    .review__name {
        margin-top: 23px;
    }
    .review__wrap__inner {
        flex-direction: column;
        margin: 0 auto;
    }
    .review-02 {
        margin-top: 50px;
    }
    .review-link-02 {
        margin-top: 60px;
    }


    .form__title {
        font-size: 70px;
    }
    .form__name {
        margin-top: 23px;
    }


    .media__title {
        font-size: 53px;
    }
    .media__wrap__item__text {
        font-size: 24px;
        margin-left: 3px;
    }
    .instagram {
        width: 22px;
        height: 29.5px;
    }
    .telegram {
        width: 22px;
        height: 29.5px;
    }
    .whatsapp {
        width: 22px;
        height: 29.5px;
    }


    .instagram-footer {
        width: 30px;
    }
    .telegram-footer {
        width: 30px;
    }
    .whatsapp-footer {
        width: 30px;
    }
}