@media screen and (min-width: 1200px) {
    .container {
         width: 1110px;
    }

    .promo__title {
        font-size: 250px;
    }

    .biography__title {
        font-size: 130px;
    }
    .biography__wrap__content {
        margin-left: 50px;
    }

    .review__title {
        font-size: 150px;
    }

    .form__title {
        font-size: 135px;
    }

    .media__title {
        font-size: 102px;
    }
    .media__name {
        margin-top: 22px;
    }

    .price {
        padding-bottom: 130px;
    }

    .publishers__title {
        font-size: 135px;
    }
}